* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  background:;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.name, .eder {
  display: flex;
  flex-direction: row;
}

input {
  

}